{
  "presets": [
    "latest",
    "react",
    "stage-3"
  ],
  "plugins": [
    [
      "transform-runtime",
      {
        "polyfill": true,
        "regenerator": true
      }
    ],
    [
      "module-resolver",
      {
        "root": ["./src", "./app_modules"],
      }
    ],
    "transform-class-properties",
    "transform-decorators-legacy",
    "transform-object-rest-spread",
    "pipe-composition"
  ],
  "env": {
    "library": {
      "plugins": [
        [
          "babel-plugin-webpack-loaders",
          {
            "config": "./webpack.library.config.js",
            "verbose": false
          }
        ]
      ]
    },
    "production": {
      "plugins": [
        "transform-react-constant-elements",
        "transform-react-inline-elements",
        "transform-react-remove-prop-types"
      ]
    }
  }
}
